$color-nofocus: #ebff77;
$color-focus: #00b74a;

.form-outline {
  margin-top: 20px;

  .form-control {
    /* Border gauche */
    & ~ .form-notch .form-notch-leading {
      border-top: 0.125rem solid $color-nofocus;
      border-bottom: 0.125rem solid $color-nofocus;
      border-left: 0.125rem solid $color-nofocus;
    }

    /* Border bas gauche */
    & ~ .form-notch .form-notch-middle {
      border-bottom: 0.125rem solid $color-nofocus;
      border-top: 0.125rem solid $color-nofocus;
    }

    /* Border de droite */
    & ~ .form-notch .form-notch-trailing {
      border-bottom: 0.125rem solid $color-nofocus;
      border-right: 0.125rem solid $color-nofocus;
      border-top: 0.125rem solid $color-nofocus;
    }

    /* Label */
    & ~ .form-label {
      color: $color-nofocus;
    }

    &:focus {
      /* Border gauche */
      & ~ .form-notch .form-notch-leading {
        border-top: 0.125rem solid $color-focus;
        border-bottom: 0.125rem solid $color-focus;
        border-left: 0.125rem solid $color-focus;
      }

      /* Border bas gauche */
      & ~ .form-notch .form-notch-middle {
        border-bottom: 0.125rem solid $color-focus;
        border-bottom: 0.125rem solid $color-focus;
      }

      /* Border de droite */
      & ~ .form-notch .form-notch-trailing {
        border-bottom: 0.125rem solid $color-focus;
        border-right: 0.125rem solid $color-focus;
        border-top: 0.125rem solid $color-focus;
      }

      /* Label */
      & ~ .form-label {
        color: $color-focus;
      }
    }
  }
}
