$color-nofocus: #ebff77;
$color-focus: #00b74a;
$color-error: #ff2b2b;

.form-outline {
  .form-control {
    color: #eee;

    /* Border gauche */
    & ~ .form-notch .form-notch-leading {
      border-top: 0.125rem solid $color-nofocus;
      border-bottom: 0.125rem solid $color-nofocus;
      border-left: 0.125rem solid $color-nofocus;
    }

    /* Border bas gauche */
    & ~ .form-notch .form-notch-middle {
      border-bottom: 0.125rem solid $color-nofocus;
      border-top: 0.125rem solid $color-nofocus;
    }

    /* Border de droite */
    & ~ .form-notch .form-notch-trailing {
      border-bottom: 0.125rem solid $color-nofocus;
      border-right: 0.125rem solid $color-nofocus;
      border-top: 0.125rem solid $color-nofocus;
    }

    /* Label */
    & ~ .form-label {
      color: $color-nofocus;
    }

    &:focus {
      /* Border gauche */
      & ~ .form-notch .form-notch-leading {
        border-top: 0.125rem solid $color-focus;
        border-bottom: 0.125rem solid $color-focus;
        border-left: 0.125rem solid $color-focus;
      }

      /* Border bas gauche */
      /* Retire la bordure top pour afficher le label */
      & ~ .form-notch .form-notch-middle {
        border-bottom: 0.125rem solid $color-focus;
        border-top: none;
      }

      /* Border de droite */
      & ~ .form-notch .form-notch-trailing {
        border-bottom: 0.125rem solid $color-focus;
        border-right: 0.125rem solid $color-focus;
        border-top: 0.125rem solid $color-focus;
      }

      /* Label */
      & ~ .form-label {
        color: $color-focus;
      }
    }
    &.error {
      /* Border gauche */
      & ~ .form-notch .form-notch-leading {
        border-top: 0.125rem solid $color-error;
        border-bottom: 0.125rem solid $color-error;
        border-left: 0.125rem solid $color-error;
      }

      /* Border bas gauche */
      & ~ .form-notch .form-notch-middle {
        border-bottom: 0.125rem solid $color-error;
        border-top: 0.125rem solid $color-error;
      }
      /* Retire la bordure pour afficher le label */
      &:focus {
        & ~ .form-notch .form-notch-middle {
          border-top: none;
        }
      }

      /* Border de droite */
      & ~ .form-notch .form-notch-trailing {
        border-bottom: 0.125rem solid $color-error;
        border-right: 0.125rem solid $color-error;
        border-top: 0.125rem solid $color-error;
      }

      /* Label */
      & ~ .form-label {
        color: $color-error;
      }
    }
  }
}
/* Corrige la bordure top quand y'a du contenu */
input.error:not([value=""]) ~ .form-notch .form-notch-middle {
  border-top: none !important;
}
