
.h1,
.h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.h1 {
  font-size: 8vw;
}

.h2 {
  font-size: 2vw;
}

.divider {
  margin: 10px 0;
  width: 100%;
  background-color: grey;
}